<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Add Villa</title>
</head>
<body style="background-color: #6e924c">
<div class="container">
    <hr>
    <h3>Add Villa</h3>
    <hr>
    <form action="#" th:action="@{/villas/save/{Id}(Id=${resortId})}"  th:object="${villa}" method="POST">

        <input type="hidden" th:field="*{villaId}"/>
        <div>
            <input type="text" th:field="*{villaNo}" id="villaNo" class="form-control mb-4 col-4" style="display:inline" placeholder="Villa No"/><br>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('villaNo')}" th:errors="*{villaNo}"></div>
        </div>
        <div>
            <input type="text" th:field="*{streetNo}" id="streetNo" class="form-control mb-4 col-4" style="display:inline"  placeholder="Street No"/><br>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('streetNo')}" th:errors="*{streetNo}"></div>
        </div>


        <button type="submit" class="btn btn-info col-2">Save Villa</button>
    </form>
    <hr>
    <a th:href="@{/villas/findVillas(resortId=${resortId})}" class="btn btn-danger btn-sm">Go Back to Villas</a>
</div>
</body>
</html>